services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: desafio-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/cmd/tasks.json:/app/tasks.json
    restart: unless-stopped
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: desafio-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: unless-stopped