.column {
    flex: 1;
    min-width: 300px;
    background-color: #f3f4f6;
    border-radius: 8px;
    padding: 1rem;
    margin: 0 0.5rem;

    transition: background-color 0.2s ease;
}

/* --- NOVO ESTILO DND --- */
.columnOver {
    background-color: #e0e7ff;
    /* Um brilho azul/indigo */
}

/* --------------------- */


.title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #374151;
    margin-bottom: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #e5e7eb;
}

.taskList {
    min-height: 100px;
}

.emptyText {
    font-size: 0.9rem;
    color: #6b7280;
    text-align: center;
    padding: 1rem;
}